@font-face {
  font-family: "Cort";
  src: url("../font/CartographCF-ExtraBoldItalic.ttf");
  font-weight: regular;
  font-style: normal;
}
.navbar-brand img {
  top: 20px;
  height: 60px;
}

.accordion-button {
  font-family: "Cort";
}